{% extends 'shop/shop-base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
{% block header-title %}
سبد خرید من
{% endblock header-title %}
{% endblock title %}


{% block back-button %}
<div class="back-button"><a href="{% url 'shop:product_list' %}"><i class="lni lni-arrow-right"></i></a></div>
{% endblock back-button %}


{% block content %}
<div class="page-content-wrapper">
	<div class="container">
	<!-- Cart Wrapper-->
	<div class="cart-wrapper-area py-3">
		<div class="cart-table card mb-3">
		<div class="table-responsive card-body">
			<table class="table mb-0">
			<tbody>
				{% for item in cart %}
					{% with item.product as product %}
						<!-- single item in the cart -->
						<tr>
							<th scope="row">
								<form action="{% url 'cart:cart_remove' product.id %}" id="{{ product.id }}" method="post">
									<a class="remove-product" href="#" onclick="document.getElementById('{{ product.id }}').submit()"><i class="lni lni-close"></i></a>
									{% csrf_token %}
								</form>
							</th>
							<td><img src="{{ product.image.url }}" alt=""></td>
							<td><a href="{{ product.get_absolute_url }}"> {{product.name}}    <span>{{ item.price|floatformat }} تومان ×  {{ item.quantity }} </span> </a> </td>
							<td>
								<div class="quantity">
									<form class="cart-form" action="{% url 'cart:cart_add' product.id %}" method="post">
									  <div class="order-plus-minus d-flex align-items-center">
										<div class="quantity-button-handler">-</div>
										{{ item.update_quantity_form.quantity|add_class:"qty-text" }}
										{{ item.update_quantity_form.override }}
										<div class="quantity-button-handler">+</div>
									  </div>
									  {% csrf_token %}
									  <button class="btn btn-danger ml-3" type="submit">بروزرسانی</button>
									</form>
								</div>
							</td>
						</tr>
					{% endwith %}
				{% endfor %}		
			</tbody>
			</table>
		</div>
		</div>
		<!-- Coupon Area-->
		<div class="card coupon-card mb-3">
		<div class="card-body">
			<div class="apply-coupon">
			<h6 class="mb-0">تخفیف دارید؟</h6>
			<p class="mb-2">کد تخفیف خود را اینجا وارد کنید و از تخفیف های عالی استفاده کنید!</p>
			<!-- for cart with coupon to remove coupon-->
			{% if cart.coupon %}
			<div class="coupon-form">
				<form action="{% url 'coupons:apply' %}" method="get">
					<input class="form-control" type="text" value="{{cart.coupon}}" disabled>
					{% csrf_token %}
					<button class="btn btn-danger" type="submit">حذف کوپن</button>
				</form>
			</div>
			{% else %}
			<!-- for cart without coupon to add coupon -->
			<div class="coupon-form">
				<form action="{% url 'coupons:apply' %}" method="post" aria-disabled="true">
					{% render_field coupon_apply_form.code class+="form-control" placeholder="SUHA30" %}
					{% csrf_token %}
					<button class="btn btn-primary" type="submit">درخواست دادن</button>
				</form>
			</div>
			{% endif %}
			</div>
		</div>
		</div>
		<!-- Cart Amount Area-->
		<div class="card cart-amount-area">
		<div class="card-body d-flex align-items-center justify-content-between">
			{% if cart.coupon %}
			<div class="d-flex justify-content-between align-items-center">
				<h5 class="total-price mb-0 mr-3"><span class="counter">{{ cart.get_total_price_after_discount|floatformat }}</span>تومان</h5>
				<h6 class="total-price mb-0 text-decoration-line-through text-danger"><span class="counter">{{ cart.get_total_price|floatformat }}</span>تومان </h6>
			</div>
			<a class="btn btn-warning" href="{% url 'orders:order_create' %}">پرداخت </a>
			{% else %}
				<h5 class="total-price mb-0"><span class="counter">{{ cart.get_total_price|floatformat }}</span> تومان</h5><a class="btn btn-warning" href="{% url 'orders:order_create' %}">پرداخت </a>
			{% endif %}
		</div>
		</div>
	</div>
	</div>
</div>
{% endblock content %}


{% block domready %}
<script>
	var form = document.getElementById("remove-product-form");

	document.getElementById("remove-product-submit").addEventListener("click", function () {
		form.submit();
	});
</script>
{% endblock domready %}