{% extends 'shop/shop-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load zipfilter %}

{% block title %}
{% block header-title %}
اطلاعات صورت حساب
{% endblock header-title %}
{% endblock title %}

{% block back-button %}
<!-- Back Button-->
  <div class="back-button"><a href="{% url 'cart:cart_detail' %}"><i class="lni lni-arrow-right"></i></a></div>
{% endblock back-button %}


{% block content %}
<div class="page-content-wrapper">
  <div class="container">
    <!-- Checkout Wrapper-->
    <form action="{% url 'orders:order_create' %}" id="checkout-form" method="post">
    <div class="checkout-wrapper-area py-3">
      <!-- Billing Address-->
      <div class="billing-information-card mb-3">
        <div class="card billing-information-title-card bg-danger">
          <div class="card-body">
            <h6 class="text-center mb-0 text-white">اطلاعات صورت حساب</h6>
          </div>
        </div>
        {% comment %} <form action="{% url 'orders:order_create' %}" id="checkout-form" method="post"> {% endcomment %}
          <div class="card user-data-card">
            <div class="card-body">
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-user"></i><span>نام و نام خانوادگی</span></div>
                {% render_field order_form.full_name class+="form-control" placeholder="ندا رضوانی" %}
              </div>
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-envelope"></i><span>آدرس ایمیل</span></div>
                {% render_field order_form.email class+="form-control" placeholder="example@gmail.com" %}
              </div>
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-phone"></i><span>تلفن</span></div>
                {% render_field order_form.phone class+="form-control" placeholder="09121234567" %}
              </div>
              <div class="mb-3">
                <div class="title mb-2"><i class="lni lni-map-marker"></i><span>آدرس حمل و نقل</span></div>
                {% render_field order_form.address class+="form-control" placeholder="تهران - ونک - خ فلان - ک فلان - ساختمان فلان - واحد 5 کد پستی: 1234567890" %}
              </div>
            </div>
          </div>
          {% csrf_token %}
        {% comment %} </form> {% endcomment %}
      </div>
      <!-- Shipping Method Choose-->
      {% if transports %}
      <div class="shipping-method-choose mb-3">
        <div class="card shipping-method-choose-title-card bg-success">
          <div class="card-body">
            <h6 class="text-center mb-0 text-white">روش حمل و نقل را انتخاب کنید</h6>
          </div>
        </div>
        <div class="card shipping-method-choose-card">
          <div class="card-body">
            <div class="shipping-method-choose">
              {% comment %} <form action="" id="transport-form" method="post"> {% endcomment %}
                <ul class="pl-0">
                    {% for radio, transport in transportation_form.transport|multifor:transports %}
                      <li>
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}">{{ transport.name }} <span>{{ transport.delivery }} با تحویل <span class="price">{{ transport.price|floatformat }}</span> تومان</span></label>
                        <div class="check"></div>
                      </li>
                    {% endfor %}  
                </ul>
              {% comment %} </form> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </form>
      <!-- Cart Amount Area-->
      <div class="card cart-amount-area">
        <div class="card-body d-flex align-items-center justify-content-between">
          {% if cart.coupon %}
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="total-price mb-0 mr-3"><span class="counter">{{ cart.get_total_price_after_discount|floatformat }}</span>تومان</h5>
            <h6 class="total-price mb-0 text-decoration-line-through text-danger"><span class="counter">{{ cart.get_total_price|floatformat }}</span>تومان </h6>
          </div>
          <a class="btn btn-warning" id="checkout-submit" href="#">تأیید و پرداخت کنید</a>
          {% else %}
            <h5 class="total-price mb-0"><span class="counter">{{ cart.get_total_price|floatformat }}</span> تومان</h5><a class="btn btn-warning" id="checkout-submit" href="#">تأیید و پرداخت کنید</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}



{% block domready %}
<script>
  var order_form = document.getElementById("checkout-form")
  document.getElementById("checkout-submit").addEventListener("click", function(){
    order_form.submit();
  });

  $(document).ready(function () {
    var get_total_price = {{ cart.get_total_price|floatformat }};
    var get_total_price_after_discount = {{ cart.get_total_price_after_discount|floatformat }};

    {% for transport in transports %}
      $('#id_transportation_form-transport_{{ forloop.counter0 }}').click(function () {
          var transport_price = {{ transport.price|floatformat }};
          if ($(this).is(':checked')) {
            {% if cart.coupon %}
            var total_price = (get_total_price + transport_price).toFixed(2);
            var total_price_after_discount = (get_total_price_after_discount + transport_price).toFixed(2);
            $("h5 span.counter").text(total_price_after_discount);
            $("h6 span.counter").text(total_price);
            {% else %}
            var total_price = (get_total_price + transport_price).toFixed(2);
            $("h5 span.counter").text(total_price);
            {% endif %}
          }
      });
    {% endfor %}
});
</script>
{% endblock domready %}