{% extends 'shop/shop-base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
انتخاب کلمه عبور جدید
{% endblock title %}


{% block header %}
{% endblock header %}


{% block sidebar %}
{% endblock sidebar %}

{% block content %}

	{% if validlink %}
	<!-- Login Wrapper Area-->
	<div class="login-wrapper d-flex align-items-center justify-content-center text-center">               
	<div class="container">
		<div class="row justify-content-center">
		<div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5"><img class="big-logo" src="{% static 'front/img/core-img/logo-white.png' %}" alt="">
			<!-- Register Form-->
			<div class="register-form mt-5 px-4">
			<form method="post">
				<div class="form-group text-left mb-4"><span>کلمه عبور جدید</span>
					<label for="id_new_password1"><i class="lni lni-lock"></i></label>
					{% render_field form.new_password1 class+="input-psswd form-control" placeholder="********************" %}
				</div>
				<div class="form-group text-left mb-4"><span>تکرار کلمه عبور</span>
					<label for="id_new_password2"><i class="lni lni-lock"></i></label>
					{% render_field form.new_password2 class+="input-psswd form-control" placeholder="********************" %}
				</div>
				{% csrf_token %}
				<button class="btn btn-warning btn-lg w-100" type="submit">تغییر کلمه عبور</button>
			</form>
			</div>
		</div>
		</div>
	</div>
	</div>
	{% else %}
	<div class="login-wrapper d-flex align-items-center justify-content-center text-center">               
		<div class="container">
		  <div class="row justify-content-center">
			<div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5">
			  <div class="px-4">
				<!-- Success Check-->
				<div class="success-check"><i class="lni lni-emoji-smile"></i></div>
				<!-- Reset Password Message-->
				<p class="text-white mt-4 mb-4">لینک منقضی شده است، ممکن است لینک قبلا استفاده شده باشد. لطفا درخواست فراموشی رمز عبور جدیدی بفرستید.</p>
				<!-- Go Back Button--><a class="btn btn-warning" href="{% url 'accounts:password_reset' %}">درخواست فراموشی رمز عبور جدید</a>
			  </div>
			</div>
		  </div>
		</div>
	</div>
	{% endif %}
{% endblock content %}


{% block footer %}
	
{% endblock footer %}