{% extends 'shop/shop-base.html' %}

{% block title %}
{% block header-title %}
پرداخت ناموفق
{% endblock header-title %}
{% endblock title %}


{% block header %}
{% endblock header %}
  

{% block content %}
<!-- Order/Payment Unsuccess-->
<div class="order-success-wrapper">
  <div class="content"><i class="lni lnr-cross-circle"></i>
    <h5>پرداخت انجام نشد</h5>
    <p>تراکنش ناموفق یا بدست شما لغو شده است. در صورت کسر وجه تا 72 ساعت به حساب شما باز خواهد گشت.</p>
    <a class="btn btn-warning mt-3" href="/">بازگشت به صفحه اصلی</a>
  </div>
</div>
{% endblock content %}


{% block footer %}
{% endblock footer %}