{% extends 'shop/shop-base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
تغییر کلمه عبور
{% endblock title %}


{% block header %}
<!-- Header Area-->
<div class="header-area" id="headerArea">
	<div class="container h-100 d-flex align-items-center justify-content-between">
	  <!-- Back Button-->
	  <div class="back-button"><a href="#"><i class="lni lni-arrow-right"></i></a></div>
	  <!-- Page Title-->
	  <div class="page-heading">
		<h6 class="mb-0">تغیر کلمه عبور</h6>
	  </div>
	  {% block header-option %}
	  <!-- Navbar Toggler-->
	  <div class="suha-navbar-toggler d-flex justify-content-between flex-wrap" id="suhaNavbarToggler"><span></span><span></span><span></span></div>
	  {% endblock header-option %}
	</div>
  </div>
{% endblock header %}


{% block content %}
<div class="page-content-wrapper">
	<div class="container">
	  <!-- Profile Wrapper-->
	  <div class="profile-wrapper-area py-3">
		<!-- User Information-->
		<div class="card user-info-card">
		  <div class="card-body p-4 d-flex align-items-center">
			<div class="user-profile mr-3">
			  {% if user.avatar %}
			  <img src="{{ user.avatar.url }}" alt="">
			  {% else %}
			  <img src="{% static 'front/img/user-profile.png' %}" alt="">
			  {% endif %}
			</div>
			<div class="user-info">
			  {% comment %} <p class="mb-0 text-white">design-world @</p> {% endcomment %}
			  <h5 class="mb-0">{% if user.nick_name %}{{ user.nick_name }}{% else %} - {% endif %}</h5>
			</div>
		  </div>
		</div>
		<!-- User Meta Data-->
		<div class="card user-data-card">
		  <div class="card-body">
			<form method="post">
			  <div class="mb-3">
				<div class="title mb-2"><i class="lni lni-key"></i><span>کلمه عبور قدیمی</span></div>
				{% render_field form.old_password class+="form-control" %}
				{% if form.old_password.errors %}
				<div class="invalid-feedback d-block">
					{{ form.old_password.errors }}
				</div>
				{% endif %}
			  </div>
			  <div class="mb-3">
				<div class="title mb-2"><i class="lni lni-key"></i><span>کلمه عبور جدید</span></div>
				{% render_field form.new_password1 class+="form-control" %}
				{% if form.new_password1.errors %}
				<div class="invalid-feedback d-block">
					{{ form.new_password1.errors }}
				</div>
				{% endif %}
			  </div>
			  <div class="mb-3">
				<div class="title mb-2"><i class="lni lni-key"></i><span>تکرار کلمه عبور جدید</span></div>
				{% render_field form.new_password2 class+="form-control" %}
				{% if form.new_password2.errors %}
				<div class="invalid-feedback d-block">
					{{ form.new_password2.errors }}
				</div>
				{% endif %}
			  </div>
			  {% csrf_token %}
			  <button class="btn btn-success w-100" type="submit">تغییر کلمه عبور</button>
			</form>
		  </div>
		</div>
	  </div>
	</div>
</div>  
{% endblock content %}