{% extends 'shop/shop-base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
ویرایش نمایه
{% endblock title %}


{% block header %}
<!-- Header Area-->
<div class="header-area" id="headerArea">
	<div class="container h-100 d-flex align-items-center justify-content-between">
	  <!-- Back Button-->
	  <div class="back-button"><a href="{% url 'accounts:profile' %}"><i class="lni lni-arrow-right"></i></a></div>
	  <!-- Page Title-->
	  <div class="page-heading">
		<h6 class="mb-0">ویرایش نمایه</h6>
	  </div>
	  {% block header-option %}
	  <!-- Navbar Toggler-->
	  <div class="suha-navbar-toggler d-flex justify-content-between flex-wrap invisible" id="suhaNavbarToggler"><span></span><span></span><span></span></div>
	  {% endblock header-option %}
	</div>
  </div>
{% endblock header %}


{% block content %}
<div class="page-content-wrapper">
	<div class="container">
	  <!-- Profile Wrapper-->
	  <div class="profile-wrapper-area py-3">
		{% if form.non_field_errors %}
			<div class="alert alert-danger">
				{% for error in form.non_field_errors %}
				{{ error }}
				{% endfor %}
			</div>
		{% endif %}
		<!-- User Information-->
		<div class="card user-info-card">
			<div class="card-body p-4 d-flex align-items-center">
				<div class="user-profile mr-3">
					{% if user.avatar %}
					<img id="avatar" src="{{ user.avatar.url }}" alt="">
					{% else %}
					<img id="avatar" src="{% static 'front/img/user-profile.png' %}" alt="">
					{% endif %}
					<form method="post" action="{% url 'accounts:change_avatar' %}" id="change_avatar_form" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="change-user-thumb">
							{% render_field change_avatar_form.avatar class+="form-control-file" %}
							<button><i class="lni lni-pencil"></i></button>
						</div>
					</form>
				</div>
				<div class="user-info">
				{% comment %} <p class="mb-0 text-white">design-world @</p> {% endcomment %}
				<h5 class="mb-0">{% if request.user.nick_name %}{{ request.user.nick_name }}{% else %} - {% endif %}</h5>
				</div>
			</div>
			<div id="success-avatar-alert" class="alert alert-success position-fixed m-2 d-none" style="z-index:9999;" role="alert">
				<button id="success-close-alert" type="button" class="close mr-2" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p class="d-inline">عکس پروفایل شما با موفقیت ویرایش شد!</p>
			</div>
			<div id="fail-avatar-alert" class="alert alert-danger position-fixed m-2 d-none" style="z-index:9999;" role="alert">
				<button id="fail-close-alert" type="button" class="close mr-2" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p class="d-inline">ویرایش عکس پروفایل شما با خطا مواجه شد!</p>
			</div>
		</div>
		<!-- User Meta Data-->
		<form method="post">
			<div class="card user-data-card">
			<div class="card-body">
				<div class="mb-3">
					<div class="title mb-2"><i class="lni lni-user"></i><span>نام نمایشی</span></div>
					{% render_field form.nick_name class+="form-control" placeholder="ندا" %}
					{% for error in form.nick_name.errors %}
						<div class="invalid-feedback d-block">
							{{ error }}
						</div>
					{% endfor %}
				</div>
				<div class="mb-3">
					<div class="title mb-2"><i class="lni lni-user"></i><span>نام و نام خانوادگی</span></div>
					{% render_field form.full_name class+="form-control" placeholder="ندا رضوانی" %}
					{% for error in form.full_name.errors %}
						<div class="invalid-feedback d-block">
							{{ error }}
						</div>
					{% endfor %}
				</div>
				<div class="mb-3">
					<div class="title mb-2"><i class="lni lni-phone"></i><span>تلفن</span></div>
					{% render_field form.phone class+="form-control" placeholder="09123456789" %}
					{% for error in form.phone.errors %}
						<div class="invalid-feedback d-block">
							{{ error }}
						</div>
					{% endfor %}
				</div>
				<div class="mb-3">
					<div class="title mb-2"><i class="lni lni-envelope"></i><span>آدرس ایمیل</span></div>
					{% render_field form.email class+="form-control" placeholder="care@example.com" %}
					{% if form.email.errors %}
					<div class="invalid-feedback d-block">
						{{ form.email.errors }}
					</div>
					{% endif %}
				</div>
				<div class="mb-3">
					<div class="title mb-2"><i class="lni lni-map-marker"></i><span>آدرس حمل و نقل</span></div>
					{% render_field form.address class+="form-control" placeholder="تهران - ونک" %}
					{% for error in form.address.errors %}
						<div class="invalid-feedback d-block">
							{{ error }}
						</div>
					{% endfor %}
				</div>
				{% csrf_token %}
				<button class="btn btn-success w-100" type="submit">ذخیره همه تغییرات</button>
			</div>
			</div>
		</form>
	  </div>
	</div>
</div>
{% endblock content %}


{% block domready %}
<script>
$('#id_avatar').change(function(){
	var form = $('#change_avatar_form')[0];
    var formData = new FormData(form);

    $.ajax({
      url: '{% url "accounts:change_avatar" %}',
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      success: function(data) {
		if (data.success) {
			$('#avatar').attr('src', data.avatar_url);
			$('#success-avatar-alert').removeClass('d-none');
		}
		else {
			$('#fail-avatar-alert').removeClass('d-none');
		}
      },
      error: function(error) {
        $('#fail-avatar-alert').removeClass('d-none');
      }
    });
});

$('#success-close-alert').click(function() {
    $('#success-avatar-alert').addClass('d-none');
});

$('#fail-close-alert').click(function() {
    $('#fail-avatar-alert').addClass('d-none');
});
</script>
{% endblock domready %}