{% load i18n %}{% autoescape off %}
شما این ایمیل را به دلیل اینکه درخواست بازیابی کلمه عبور برای حساب کاربریتان در سایت {{ site_name }} ارسال کرده‌اید، دریافت کرده‌اید. در صورتی که شما این درخواست را ارسال نکرده‌اید، این ایمیل را نادیده بگیرید!

لطفا از طریق لینک زیر کلمه عبور جدیدی را برای خود برگزینید:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

ممنونیم از اینکه از سایت ما استفاده می‌کنید.

موفق باشید. تیم {{ site_name }}

{% endautoescape %}