{% load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="سوها- Multipurpose Ecommerce Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#100DD1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- The above tags *must* come first in the head, any other head content must come *after* these tags-->
    <!-- Title-->
    <title>{% block title %}لیست فروشگاه{% endblock title %}</title>
    <!-- Favicon-->
    <link rel="icon" href="{% static 'front/img/icons/icon-72x72.png' %}">
    <!-- Apple Touch Icon-->
    <link rel="apple-touch-icon" href="{% static 'front/img/icons/icon-96x96.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'front/img/icons/icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="167x167" href="{% static 'front/img/icons/icon-167x167.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'front/img/icons/icon-180x180.png' %}">
    <!-- Stylesheet-->
    <link rel="stylesheet" href="{% static 'front/style.css' %}">
    <link rel="stylesheet" href="{% static 'front/custom.css' %}">
    <!-- Web App Manifest-->
    <link rel="manifest" href="{% static 'front/manifest.json' %}">
</head>
<body>
  
	<!-- Preloader-->
    <div class="preloader" id="preloader">
		<div class="spinner-grow text-secondary" role="status">
		  <div class="sr-only">بارگذاری...</div>
		</div>
	</div>
	
	{% block header %}
	<!-- Header Area-->
    <div class="header-area" id="headerArea">
		<div class="container h-100 d-flex align-items-center justify-content-between">
		  <!-- Back Button-->
		  
		  {% block back-button %}
		  <div class="back-button"><a href="#"><i class="lni lni-arrow-right"></i></a></div>
		  {% endblock back-button %}
		  <!-- Page Title-->
		  <div class="page-heading">
			<h6 class="mb-0">{% block header-title %}لیست فروشگاه{% endblock header-title %}</h6>
		  </div>
			
			{% block header-option %}
			<!-- Navbar Toggler-->
			<div class="suha-navbar-toggler d-flex justify-content-between flex-wrap" id="suhaNavbarToggler"><span></span><span></span><span></span></div>
			{% endblock header-option %}

		</div>
	</div>
	{% endblock header %}
		

	
	
	{% block sidebar %}
	<!-- Sidenav Black Overlay-->
    <div class="sidenav-black-overlay"></div>
	<!-- Side Nav Wrapper-->
	<div class="suha-sidenav-wrapper" id="sidenavWrapper">
		<!-- Sidenav Profile-->
		<div class="sidenav-profile">
			<div class="user-profile"><img src="{% static 'front/img/bg-img/9.jpg' %}" alt=""></div>
			<div class="user-info">
			<h6 class="user-name mb-0">نیلوفر</h6>
			<p class="available-balance">حساب شما <span><span class="counter">350000</span></span><span> تومان</span></p>
			</div>
		</div>
		<!-- Sidenav Nav-->
		<ul class="sidenav-nav pl-0">
			<li><a href="#"><i class="lni lni-user"></i>پروفایل من</a></li>
			<li><a href="#"><i class="lni lni-alarm lni-tada-effect"></i>اطلاعیه ها <span class="ml-3 badge badge-warning">3</span></a></li>
			<li class="suha-dropdown-menu"><a href="#"><i class="lni lni-cart"></i>صفحات خرید</a>
			<ul>
				<li><a href="#">- فروشگاه شبکه</a></li>
				<li><a href="#">- لیست فروشگاه</a></li>
				<li><a href="#">- مشخصات محصول</a></li>
				<li><a href="#">- محصولات برجسته</a></li>
				<li><a href="#">- فروش فلش</a></li>
			</ul>
			</li>
			<li><a href="#"><i class="lni lni-empty-file"></i>تمام صفحات</a></li>
			<li class="suha-dropdown-menu"><a href="#"><i class="lni lni-heart"></i>علاقه مندی های من</a>
			<ul>
				<li><a href="#">- شبکه مورد علاقه</a></li>
				<li><a href="#">- لیست دلخواه</a></li>
			</ul>
			</li>
			<li><a href="#"><i class="lni lni-cog"></i>تنظیمات</a></li>
			<li><a href="{% url 'accounts:logout' %}"><i class="lni lni-power-switch"></i>خروج از سیستم</a></li>
		</ul>
		<!-- Go Back Button-->
		<div class="go-home-btn" id="goHomeBtn"><i class="lni lni-arrow-right"></i></div>
	</div>
	{% endblock sidebar %}


	{% block content %}

	{% endblock content %}


	<!-- Internet Connection Status-->
    <div class="internet-connection-status" id="internetStatus"></div>
    <!-- Footer Nav-->
	
	{% block footer %}
    <div class="footer-nav-area" id="footerNav">
      <div class="container h-100 px-0">
        <div class="suha-footer-nav h-100">
		  <ul class="nav h-100 d-flex align-items-center justify-content-between pl-0">
			<li class="nav-item active"><a class="nav-link" href="/"><i class="lni lni-home"></i>خانه</a></li>
            <li class="nav-item"><a class="nav-link " href="{% url 'shop:product_list' %}">
				<i>
					<?xml version="1.0" encoding="UTF-8"?>
					<svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="20" height="20"><path d="M24,10a.988.988,0,0,0-.024-.217l-1.3-5.868A4.968,4.968,0,0,0,17.792,0H6.208a4.968,4.968,0,0,0-4.88,3.915L.024,9.783A.988.988,0,0,0,0,10v1a3.984,3.984,0,0,0,1,2.643V19a5.006,5.006,0,0,0,5,5H18a5.006,5.006,0,0,0,5-5V13.643A3.984,3.984,0,0,0,24,11ZM2,10.109l1.28-5.76A2.982,2.982,0,0,1,6.208,2H7V5A1,1,0,0,0,9,5V2h6V5a1,1,0,0,0,2,0V2h.792A2.982,2.982,0,0,1,20.72,4.349L22,10.109V11a2,2,0,0,1-2,2H19a2,2,0,0,1-2-2,1,1,0,0,0-2,0,2,2,0,0,1-2,2H11a2,2,0,0,1-2-2,1,1,0,0,0-2,0,2,2,0,0,1-2,2H4a2,2,0,0,1-2-2ZM18,22H6a3,3,0,0,1-3-3V14.873A3.978,3.978,0,0,0,4,15H5a3.99,3.99,0,0,0,3-1.357A3.99,3.99,0,0,0,11,15h2a3.99,3.99,0,0,0,3-1.357A3.99,3.99,0,0,0,19,15h1a3.978,3.978,0,0,0,1-.127V19A3,3,0,0,1,18,22Z" fill="#747794"/></svg>
				</i>
				</svg>
				فروشگاه</a>
			</li>
            <li class="nav-item">
				{% with cart|length as total_items %}
					{% if total_items > 0 %}
					<span class="badge badge-danger cart-badge">{{ total_items }}</span>
					{% endif %}
				{% endwith %}
				<a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="lni lni-shopping-basket"></i>سبد خرید</a></li>
            <li class="nav-item"><a class="nav-link " href="#"><i class="lni lni-heart"></i>علاقمندی‌ها</a></li>
            <li class="nav-item"><a class="nav-link " href="{% url 'accounts:profile' %}"><i class="lni lni-user"></i>پروفایل</a></li>
		  </ul>
        </div>
      </div>
    </div>
	{% endblock footer %}
		
	

	<!-- All JavaScript Files-->
	<script src="{% static 'front/js/jquery.min.js' %}"></script>
	<script src="{% static 'front/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'front/js/waypoints.min.js' %}"></script>
	<script src="{% static 'front/js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'front/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'front/js/jquery.counterup.min.js' %}"></script>
	<script src="{% static 'front/js/jquery.countdown.min.js' %}"></script>
	<script src="{% static 'front/js/default/jquery.passwordstrength.js' %}"></script>
	<script src="{% static 'front/js/wow.min.js' %}"></script>
	<script src="{% static 'front/js/jarallax.min.js' %}"></script>
	<script src="{% static 'front/js/jarallax-video.min.js' %}"></script>
	<script src="{% static 'front/js/default/dark-mode-switch.js' %}"></script>
	<script src="{% static 'front/js/default/no-internet.js' %}"></script>
	<script src="{% static 'front/js/default/active.js' %}"></script>
	<script src="{% static 'front/js/pwa.js' %}"></script>

	
	{% block domready %}
		
	{% endblock domready %}

	{% block domreadyall %}
	<script>
		// Retrieve the visitedPages array from localStorage or initialize it to an empty array
		var visitedPages = JSON.parse(localStorage.getItem('visitedPages')) || [];

		// Function to update the visited pages array
		function updateVisitedPages() {
		// Add the current page URL to the array
		visitedPages.push(window.location.href);

		// Set the last item of the array as the back button URL
		var backButton = document.querySelector('.back-button a');
		backButton.href = visitedPages[visitedPages.length - 2] || '#'; // If there is no previous page, set the URL to '#'

		// Save the visitedPages array to localStorage
		localStorage.setItem('visitedPages', JSON.stringify(visitedPages));
		}

		// Call the updateVisitedPages function when the page loads
		updateVisitedPages();

		// Add an event listener to the back button
		var backButton = document.querySelector('.back-button a');
		backButton.addEventListener('click', function() {
		visitedPages.pop(); // Remove the last item from the array

		// Update the localStorage with the modified visitedPages array
		localStorage.setItem('visitedPages', JSON.stringify(visitedPages));
		});
	</script>
	{% endblock domreadyall %}

</body>
</html>